<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="uploader.youtube" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="webpage_freezone.youtube" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <uploader.youtube>
            <setting name="video" serializeAs="String">
                <value/>
            </setting>
            <setting name="uyeid" serializeAs="String">
                <value/>
            </setting>
            <setting name="uyepw" serializeAs="String">
                <value/>
            </setting>
            <setting name="tip" serializeAs="String">
                <value/>
            </setting>
            <setting name="kalite" serializeAs="String">
                <value/>
            </setting>
            <setting name="kanal2" serializeAs="String">
                <value/>
            </setting>
            <setting name="kanal3" serializeAs="String">
                <value/>
            </setting>
            <setting name="kanal4" serializeAs="String">
                <value/>
            </setting>
            <setting name="kanal1" serializeAs="String">
                <value/>
            </setting>
        </uploader.youtube>
        <webpage_freezone.youtube>
            <setting name="id" serializeAs="String">
                <value/>
            </setting>
            <setting name="pw" serializeAs="String">
                <value/>
            </setting>
            <setting name="video" serializeAs="String">
                <value/>
            </setting>
            <setting name="developerkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="uyeid" serializeAs="String">
                <value/>
            </setting>
            <setting name="uyepw" serializeAs="String">
                <value/>
            </setting>
            <setting name="tip" serializeAs="String">
                <value/>
            </setting>
        </webpage_freezone.youtube>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Google.GData.Extensions" publicKeyToken="0B4C5DF2EBF20876" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.GData.Client" publicKeyToken="04A59CA9B0273830" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
